@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ed272c;
  --primary2: #080607;
  --secondary: #fff;
  --background: #fbfbfb;
  --pop-up: #e9e9e9;
  --gray: #6f7482;
  --field-color: #f4f5f9;
  --neutral: #e9ecef;
  --positive: #12b76a;
  --label-color: #9e9e9e;
  --error: #8d6e63;
  --text-normal: var(--text-normal);
  --text-secondary: #6c757d;
  --text-disabled: #adb5bd;
  --neutral-400: #ced4da;
  --neutral-100: #f8f9fa;
  --neutral-200: #e9ecef;
  --button-disabled: #e9ecef;
  --gray: #6f7482;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
img {
  max-width: 100%;
}
/* tailwind override for autofill */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}
.sidebar {
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
}
.sidebar ul li:hover a {
  background: red !important;
  color: #fff;
}
.sidebar ul li a.active {
  background: red !important;
  color: #fff;
}
.continue-button {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}
.formboxshadow {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
}
.loginBox {
  box-shadow: 0px 6px 25px 0px rgba(219, 220, 222, 0.2);
  box-shadow: 0px 12px 40px 0px rgba(219, 220, 222, 0.3);
}

.companyregform {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
}
.servicecard {
  box-shadow: 0px 6px 25px 0px rgba(219, 220, 222, 0.5);
}

.custom-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid var(--neutral-400);
  transition: all 0.3s ease;
}

/* Checked state */
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary); 
  border-color: var(--primary);
}

/* Checked checkmark */
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: var(--neutral-400);
  width: 6px;
  height: 12px;
  border-width: 2px;
}

/* Hover state when NOT checked */
.custom-checkbox:hover:not(.ant-checkbox-checked) .ant-checkbox-inner {
  background-color: transparent !important; /* red-100 */
}

/* Optional: cursor pointer */
.custom-checkbox:hover {
  cursor: pointer;
}
/* Override AntD default blue hover background */
.custom-checkbox:hover:not(.ant-checkbox-checked) .ant-checkbox-inner {
  background-color: transparent !important;
  border-color: var(--primary) !important;
}

/* Also override AntD focus/active styles */
.custom-checkbox.ant-checkbox-focused:not(.ant-checkbox-checked)
  .ant-checkbox-inner {
  background-color: var(--primary) !important;
}
