@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}
img {
  max-width: 100%;
}
.sidebar {
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
  /* border-right: 0.1px solid rgba(0, 0, 0, 0.1); */
}
.navbar {
  background: #fff;
  /* box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1); */
}
.sidebar ul li:hover a {
  background: red !important;
  color: #fff;
}
.sidebar ul li a.active {
  background: red !important;
  color: #fff;
}
.continue-button {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
}
.formboxshadow {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
}
.loginBox {
  box-shadow: 0px 6px 25px 0px rgba(219, 220, 222, 0.2);
  box-shadow: 0px 12px 40px 0px rgba(219, 220, 222, 0.3);
}

.companyregform {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.1);
}

